.support{
    padding: 8px;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    .help_support{
        font-size: 29px;
        font-style: italic;
        text-align: center;
    }
    .hotline{
        // background-color: #51A9FF;
        background-color:#20405f;
        border-radius: 5px;
        padding-left: 8px;
        margin: 4px;
        color: white;
    }
    .phone{
        display: flex;
        flex-direction: column;
        padding: 4px;
        div{
            display: flex;
            justify-content: space-between;
            align-items: center;
            &:hover{
                // background-color: #51A9FF;
                background-color:#20405f;
                border-radius: 5px;
                color: white;
                padding: 0 4px;
                cursor: pointer;
            }
        }
    }
    .help_email{
        // background-color: #51A9FF;
        background-color:#20405f;
        border-radius: 5px;
        padding-left: 8px;
        margin: 4px;
        color: white;
    }
    .email{
        padding: 4px;
        margin: 4px;
        &:hover{
            background-color: #51A9FF;
            background-color:#20405f;
            border-radius: 5px;
            color: white;
            padding: 0 4px;
            cursor: pointer;
        }
    }
    
}