.banner-hotel {
    height: calc(100vh - 30vh);
    max-height: calc(100vh - 30vh);
    background-color: #51A9FF;
    border-radius: 5px;
}

.banner-main {
    width: calc(100vw - 50vw);
    height: calc(100vh - 30vh);
    object-fit: cover;
    padding: 15px;
}

.banner-sub {
    width: calc(100vw - 50vw);
    height: calc(100vh - 30vh);
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.banner-sub1 {
    width: calc(100vw - 80vw);
    height: calc(100vh - 69vh);
    object-fit: cover;
}

.floor {
    background-color: #51A9FF;
    margin: 15px 0 15px 0;
    padding: 10px;
    border-radius: 5px;
    color: white;
}

.room {
    border: 1px solid #51A9FF;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 15px;
}

.container-room {
    display: flex;
    border: 1px solid #51A9FF;
    border-radius: 10px;
    padding: 15px;
    height: 200px;
    margin: 10px;
}

.room-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #51A9FF;
    border-radius: 5px;
    padding: 5px;
    color: white;
}

.room-description {
    display: flex;
    padding: 5px;
    font-size: 13px;
}

.room-description p {
    margin: 0 0 0 0;
}

.room-code {
    display: flex;
    font-size: 20px;
    align-items: center;
    align-content: center;
}

.room-price {
    display: flex;
    justify-content: end;
    padding: 5px;
}