.wrapper-top{
    width: 100%;
    // padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 12px;
}
.top-header{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    h2{
        margin-bottom: 22px;
        margin-top: -64px;
    }
    input{
        width:80%;
        background: #fff;
        border: 2px solid rgba(115,129,54,.2);
        border-radius: 5px;
        box-sizing: border-box;
        height: 50px;
        padding-left: 20px;
        transition: all .3s;
        margin-bottom: 16px;
        color: 1.2rem;
        outline: none;
    }
    .btn_group{
        margin-top: 12px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        a{
            text-decoration: none;
            span{
                color: #738136;
                font-size: 1.2rem;
                padding-left: 24px;
                &:hover{
                    cursor: pointer;
                }
            }
        }
        
        button{
            width: 45%;
            height: 46px;
            color: #fff;
            font-size: 18px;
            font-weight: 700;
            border-radius: 5px;
            background-color: #51A9FF;
            border: none;
            padding: 24px;
            text-align: center;
            line-height: 5px;
            &:hover{
                cursor: pointer;
                background-color: #0876e4;
            }
        }

    }
}